* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Space Grotesk', serif;
}
.header a {
    color: #fff; 
    text-decoration: none; 
    margin-right: 10px; 
}

#main {
    width: 100%;
    height: 26vh;
    position: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(16, 22, 71);
    z-index: 1;
}
.menu {
    list-style: none;
    display: flex;
}

.menu li a {
    height: 40px;
    line-height: 43px;
    margin: 10px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    color: grey;
}

a {
    text-decoration: none;
}

.menu li a:hover {
    color: white;
    border-bottom: 1px solid #ffffff; 
}

.menu li a#active {
    color: white;
    border-bottom: 1px solid #ffffff; 
}
.logo img {
    height: 100px;
}
.content {
    height: 100%;
    width: 80%;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-left: 340px;
}

.menu-box {
    /* border: 2px solid #333; */
    opacity: 80%;
    padding: 20px;
    width: 600px; 
    text-align: center;
    background-color: #c1cffb;
    font-weight: 500;
}

.menu-box h2 {
    margin-bottom: 20px;
}

.menu-box ul {
    list-style: none;
    padding: 0;
    display: flex; 
    justify-content: center;
}

.menu-box ul li {
    margin: 0 10px; 
}

.menu-box ul li a {
    text-decoration: none;
    color: #333; 
    padding: 5px 10px;
}

.menu-box ul li a:hover {
    color: rgb(16, 22, 71); 
    border-bottom: 2px solid rgb(16, 22, 71); 
}

.menu-box ul li a#active {
    color: rgb(16, 22, 71); 
    border-bottom: 2px solid rgb(16, 22, 71); 
}
.menu-box p {
    margin-top: 80px; 
    margin-bottom: 80px;
}